.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5rem;
    gap: 2rem;
}

.search-header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: #fff;
}

.search-header-container img {
    width: 25px;
    height: 25px;
}
