.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5rem;
    gap: 2rem;
}

.search_header_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: #fff;
}

.search_header_container img {
    width: 25px;
    height: 25px;
}
